.modall {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    padding: 30px;
    margin: 10px;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(230, 12, 12);
    width: 400px;
    height: auto;
    z-index: 1000;
}
.modall > .btn {
    margin: 10px;
}
