.modall {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    padding: 30px;
    margin: 10px;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    z-index: 1000;
}
button.btn {
    margin: 10px;
}
